<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verifier 1 Update</title>
    {% load static %}
    {% load custom_filters %}
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <nav class="bg-gray-200 shadow shadow-gray-300 w-100 px-8 md:px-auto" style="background-color: #d9e4ec;">
        <div class="md:h-16 h-28 mx-auto md:px-4 container flex items-center justify-between flex-wrap md:flex-nowrap">
            <!-- Logo -->
            <div class="text-indigo-500 md:order-1">
                <!-- Heroicon - Chip Outline -->
                <a href="#" class="flex items-center">
                    <img src="{% static 'files/assam-map.jpg'%}" class="h-6 mr-3 sm:h-9" alt="Landwind Logo" />
                    <span class="self-center text-xl font-semibold whitespace-nowrap text-gray-900">WELCOME !</span>
                </a>
            </div>
            <div class="text-gray-900  order-3 w-full md:w-auto md:order-2">
                <ul class="flex font-semibold justify-between">
                    
                    <li class="md:px-4 md:py-2 hover:text-indigo-500"><a href="{% url 'main' %}">Home</a></li>
                    {% comment %} <li class="md:px-4 md:py-2 hover:text-indigo-400"><a href="{% url 'search' %}">Search</a></li>
                    <li class="md:px-4 md:py-2 hover:text-indigo-400"><a href="{% url 'verifier1-list' %}">Verifier 1 List</a></li> {% endcomment %}
                    {% comment %} <li class="md:px-4 md:py-2 hover:text-indigo-400"><a href="#">Explore</a></li> {% endcomment %}
                    <li class="md:px-4 md:py-2 hover:text-indigo-400"><a href="#">About</a></li>
                    {% comment %} <li class="md:px-4 md:py-2 hover:text-indigo-400"><a href="#">Contact</a></li> {% endcomment %}
                </ul>
            </div>
            <div class="order-2 md:order-3">
                <button class="px-4 py-2 bg-indigo-500 hover:bg-indigo-600 text-gray-50 rounded-xl flex items-center gap-2">
                    <!-- Heroicons - Login Solid -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M3 3a1 1 0 011 1v12a1 1 0 11-2 0V4a1 1 0 011-1zm7.707 3.293a1 1 0 010 1.414L9.414 9H17a1 1 0 110 2H9.414l1.293 1.293a1 1 0 01-1.414 1.414l-3-3a1 1 0 010-1.414l3-3a1 1 0 011.414 0z" clip-rule="evenodd" />
                    </svg>
                    <a href="{% url 'logout' %}">Log Out</a>
                </button>
            </div>
        </div>
    </nav>
    <div class="relative min-h-screen flex items-center justify-center bg-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8 bg-gray-500 bg-no-repeat bg-cover relative items-center"
        style="background-image: url({% static 'files/bg_edit.jpg' %}); ">
        <div class="absolute bg-black opacity-60 inset-0 z-0"></div>
        <!-- <div class="max-w-md w-full space-y-8 p-10 bg-white rounded-xl shadow-lg z-10"> -->
        <div class=" w-2/5 space-y-8 p-10 bg-white rounded-xl shadow-lg z-10">
            <div class="grid  gap-8 grid-cols-1">
                <div class="flex flex-col ">

                    <!-- <div class=" sm:flex-row items-center  justify-center"> -->
                    <center>
                        <h2 class="text font-semibold text-lg mr-auto"><b>POS TAGGER</b></h2>
                    </center>
                    <!-- <div class="w-full sm:w-auto sm:ml-auto mt-3 sm:mt-0"></div>
                    </div> -->
                    <form method="post" action="">
                        {% csrf_token %}
                    <div class="mt-5">
                        <div class="form">


                            <div class="flex flex-col mb-3 space-y-2 w-full text-xs">
                                <label class="font-semibold text-gray-600 py-2">User Input</label>
                                {% comment %} <textarea required name="text" id=""
                                    class="w-full min-h-[10px] max-h-[100px] h-28 appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg  py-4 px-4"
                                    readonly spellcheck="false">{{text}}</textarea> {% endcomment %}
                                    <textarea name="input_text" id="" class=" border border-solid border-gray-950 p-3.5 text-base" cols="30" rows="4" readonly>{{ver.raw_sentence}}</textarea>
                            </div>
                        </div>
                        
                        <div class="flex justify-between font-semibold underline underline-offset-4 mb-4">
                            <p class="w-8/12">List of Words</p>
                            <p class="w-4/12">List of Tags</p>
                        </div>
                        
                        {% for word in words %}
                        <div class="md:flex md:flex-row md:space-x-4 w-full text-xs items-center">
                            <div class="w-full flex flex-col mb-3">
                                
                                {% comment %} <input readonly value="{{ word }}"
                                    class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-10 px-4"
                                    type="text" name="text" > {% endcomment %}
                                    <div class="flex " >
                                        <input type="text" name="word" value="{{ word }}" class="hidden" required> 
                                        <div class="item ml-4">{{ word }}</div> 
                                    </div>
                            </div>
                            <div class="w-full flex flex-col mb-3">
                                <!-- <div class="item hidden">{{ word }}</div> -->
                                <select name="tag"
                                    class="block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-10 px-4 md:w-full"
                                    required="required" id="integration_city_id"  onchange="addItemToList(this)">
                                    <option value="">TAGS</option>
                                    {% with values_names=values|zip_lists:names %}
                                        {% for value, name in values_names %}
                                            <option value="{{ value }}">{{ name }}</option>
                                        {% endfor %}
                                    {% endwith %}


                                    {% comment %} <option value="nn">NOUN</option>
                                    <option value="nnp">PROPER NOUN</option>
                                    <option value="v">VERB</option>
                                    <option value="pr">PRONOUN</option>
                                    <option value="jj">ADJECTIVE</option>
                                    <option value="rb">Adverb</option>
                                    <option value="adp">Adposition</option>
                                    <option value="psp">POSTPOSITION</option>
                                    <option value="aux">Auxiliary Verb</option>
                                    <option value="cc">Conjunction</option>
                                    <option value="ccd">Coordinator</option>
                                    <option value="ccs">Subordinator </option>
                                    <option value="intj">Interjection </option>
                                    <option value="det">Determiner  </option>
                                    <option value="qt">Quantifiers</option>
                                    <option value="rpd">Particle</option>
                                    <option value="punct">Punctuation </option>
                                    <option value="sym">Symbol </option>
                                    <option value="rd">Residuals  </option>
                                    <option value="rdf">Foreign word   </option>
                                    <option value="punc">Punctuation </option> {% endcomment %}
                                    
                                </select>
                                <p class="text-sm text-red-500 hidden mt-3" id="error">Please fill out this field.
                                </p>
                            </div>
                        </div>

                        {% endfor %}

                        <h3>Selected Items:</h3>
                        <div class="border border-2 border-gray-900 px-4 py-4">
                            <div id="selectedItems"></div>
                        </div>

                        
                        <div class="mt-5 text-right md:space-x-3 md:block flex flex-col-reverse">

                            <center><button type="submit" 
                                    class=" mb-2 md:mb-0 bg-green-400 px-5 py-2 text-sm shadow-sm font-medium tracking-wider text-white rounded-full hover:shadow-lg hover:bg-green-500">SUBMIT</button>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function addItemToList(selectElement) {
          var listItem = selectElement.parentNode;
          var xyz = listItem.parentNode;
          var selectedOption = selectElement.options[selectElement.selectedIndex].text;
          var selectedValue = selectElement.value;
          var selectedItem = xyz.querySelector('.item');
          var selectedItemsContainer = document.getElementById('selectedItems');
    
          if (selectedValue !== '') {
            var selectedDiv = document.createElement('span');
            selectedDiv.classList.add('selectedItem');
            selectedDiv.innerHTML = selectedItem.textContent + '</span>' +
              '<span class="selectedItemValue">\\' + selectedValue + '  </span>';
    
            selectedItemsContainer.appendChild(selectedDiv);
            listItem.style.display = 'none';
            xyz.style.display = 'none';
            
          }
        }
      </script>

</body>

</html>